<div id="notice"></div>

<table id="links-list">
  <thead>
    <tr>
      <th>Title</th>
      <th>Url</th>
      <th>Read?</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @links.each do |link| %>
    <tr id= <%=link.id %> >
      <td class="link-title" name="title"><%= link.title %></td>
      <td class="link-url" name="url"><%= link.url %></td>
      <td class="read-status" name="read"><%= link.read %></td>
      <td><button type="button" name="mark-as-read" class="mark-read button btn btn-small waves-effect waves-light">Mark as Read</button></td>
      <td><button type="button" name="edit" class="edit button btn btn-small waves-effect waves-light">Edit</button></td>
    </tr>
    <% end %>
  </tbody>
</table>

<script>
function topTen(data){
  tRow = $('tbody tr');
  for (var i = 0; i < tRow.length; i++) {
    tableUrl = $(tRow[i]).find('td.link-url').text()

    for (var j = 0; j < data.length; j++) {
      if(tableUrl == data[j].url){
        $(tRow[i]).find('td:last').append(" TOP TEN ");
      }
    }
  }
}

function topLink(data){
  tRow = $('tbody tr');
  for (var i = 0; i < tRow.length; i++) {
    tableUrl = $(tRow[i]).find('td.link-url').text()

    if(tableUrl == data.url){
      $(tRow[i]).find('td:last').append(" TOP LINK ");
    }
  }
}


$(document).ready(function(){
  $.ajax({
    url: 'http://localhost:3001/api/v1/top_ten',
    method: 'GET',
  }).done(function(data){
    topTen(data)
  });

  $.ajax({
    url: 'http://localhost:3001/api/v1/top_link',
    method: 'GET',
  }).done(function(data){
    topLink(data)
  });
})

</script>
